


// Colours
$grey:          #666666;
$grey-light:    #cccccc;
$white:         #fff;
$black:         #000;
$blue-dark:     #122140;
$blue:          #88909F;


// Fonts
$font-body: Arial, Helvetica, sans-serif;