html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

/* Breakpoints */
/* Grid breakpoints */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

div, p, span, ul, li {
  position: relative;
}

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

@font-face {
  font-family: 'montserratbold';
  src: url("/fonts/montserrat-bold.eot");
  src: url("/fonts/montserrat-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/montserrat-bold.woff2") format("woff2"), url("/fonts/montserrat-bold.woff") format("woff"), url("/fonts/montserrat-bold.ttf") format("truetype");
}

@font-face {
  font-family: 'montserratmedium';
  src: url("/fonts/montserrat-medium.eot");
  src: url("/fonts/montserrat-medium.eot?#iefix") format("embedded-opentype"), url("/fonts/montserrat-medium.woff2") format("woff2"), url("/fonts/montserrat-medium.woff") format("woff"), url("/fonts/montserrat-medium.ttf") format("truetype");
}

@font-face {
  font-family: 'montserratregular';
  src: url("/fonts/montserrat-regular.eot");
  src: url("/fonts/montserrat-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/montserrat-regular.woff2") format("woff2"), url("/fonts/montserrat-regular.woff") format("woff"), url("/fonts/montserrat-regular.ttf") format("truetype");
}

@font-face {
  font-family: 'playfair_displaybold';
  src: url("/fonts/playfairdisplay-bold.eot");
  src: url("/fonts/playfairdisplay-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/playfairdisplay-bold.woff2") format("woff2"), url("/fonts/playfairdisplay-bold.woff") format("woff"), url("/fonts/playfairdisplay-bold.ttf") format("truetype");
}

@font-face {
  font-family: 'playfair_displayregular';
  src: url("/fonts/playfairdisplay-regular.eot");
  src: url("/fonts/playfairdisplay-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/playfairdisplay-regular.woff2") format("woff2"), url("/fonts/playfairdisplay-regular.woff") format("woff"), url("/fonts/playfairdisplay-regular.ttf") format("truetype");
}

.outlineHelper * {
  outline: 1px dotted rgba(186, 119, 119, 0.2);
}

html {
  background-color: #fff;
  color: #666666;
  font-family: "montserratmedium";
}

body {
  line-height: 1.4em;
}

@media screen and (min-width: 800px) {
  .mainColumn {
    width: 1000px;
    margin: auto;
  }
}

h2, h3 {
  margin: 0 0 30px;
}

p {
  margin: 0 0 25px;
}

p:last-of-type {
  margin: 0;
}

.heading--one {
  font-family: "playfair_displayregular";
  font-size: 38px;
  text-align: center;
}

.heading--one span {
  font-family: "playfair_displaybold";
}

.heading--two {
  font-family: "playfair_displaybold";
  font-weight: bold;
  font-size: 23px;
  text-align: center;
  color: #122140;
}

.paraLead--large {
  font-family: "playfair_displayregular";
  font-size: 20px;
  line-height: 1.5em;
  color: #122140;
}

.paraLead--medium {
  font-family: "playfair_displayregular";
  font-size: 17px;
  font-weight: bold;
  line-height: 1.5em;
  color: #122140;
}

.smallPara p {
  font-size: 12px;
}

hr {
  margin: 30px 0;
}

.logo {
  margin: 11px 0 0;
  width: 266px;
  height: 60px;
  text-indent: -999999px;
  background-image: url("../img/forbes-logo.svg");
  background-position: center center;
  background-repeat: no-repeat;
  -moz-background-size: contain;
       background-size: contain;
}

.mainNav::after {
  clear: both;
  content: "";
  display: block;
}

.mainNav .logo {
  display: inline;
  float: left;
}

.mainNav ul {
  float: right;
}

.mainNav li {
  float: left;
}

.mainNav li.selected:after {
  position: absolute;
  display: block;
  width: 100px;
  height: 6px;
  background-color: #666666;
}

.mainNav a {
  display: block;
  padding: 32px 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #122140;
  font-size: 14px;
  font-weight: bold;
}

.heroHeading {
  text-align: center;
  padding: 300px 0 70px 0;
  color: #fff;
}

@media screen and (min-width: 800px) {
  .heroHeading__bckgImg {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("../img/header-home.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    -moz-background-size: cover;
         background-size: cover;
  }
}

.heroHeading p {
  margin: 0 0 17px;
  font-family: "playfair_displaybold";
  text-transform: uppercase;
  font-style: italic;
}

.heroHeading h1:after {
  bottom: -50px;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.heroHeading__bckgImg:before {
  background: -moz-linear-gradient(top, transparent 0%, transparent 37%, rgba(0, 0, 0, 0.65) 100%);
  background: -webkit-linear-gradient(top, transparent 0%, transparent 37%, rgba(0, 0, 0, 0.65) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(37%, transparent), to(rgba(0, 0, 0, 0.65)));
  background: -o-linear-gradient(top, transparent 0%, transparent 37%, rgba(0, 0, 0, 0.65) 100%);
  background: linear-gradient(to bottom, transparent 0%, transparent 37%, rgba(0, 0, 0, 0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

.bodyCopy {
  padding: 50px 0;
}

.footer {
  color: #fff;
}

.footer .heading--two {
  color: #fff;
}

.footer .top {
  padding: 50px;
  background-color: #88909F;
}

.footer .top::after {
  clear: both;
  content: "";
  display: block;
}

.footer .top .mainColumn {
  padding: 0 70px;
}

.footer .top .col {
  float: left;
  width: 50%;
}

.footer .bottom {
  padding: 30px;
  background-color: #122140;
}

.footer .bottom .mainColumn {
  padding: 0 70px;
}

.footer hr {
  margin-left: -70px;
  margin-right: -70px;
}
